<hmtl>

    <head>

        <link rel="stylesheet" type="text/css" href="main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

        <div id="nav_bar_container">

            <div id="icon_container"></div>

            <ul id="nav_bar">

                <li>
                    <div id="new_container">
                        <p><i class="fa fa-plus"></i></p>
                        <p>NEW</p> 
                    </div>
                </li>
                <li>
                    <div id="open_container">
                        <p><i class="fa fa-folder-open"></i></p>
                        <p>OPEN</p> 
                    </div>
                </li>
                <li>
                    <div id="save_container">
                        <p><i class="fa fa-save"></i></p>
                        <p>SAVE</p> 
                    </div>
                </li>
            </ul>

        </div>

        <div id="filename_container">
            <p id="filename">New file</p>
        </div>

        <div class="button_container" id="run_container">
            <button><i class="fa fa-play"></i></button>
        </div>
        <div class="button_container" id="record_container">
            <button><i class="fa fa-microphone"></i></button>
        </div>

        <div id="content_container">
            <textarea id="file_content"></textarea>
            <p id="output_content"></p>
        </div>

        <div id="acknowlegments_container">
            <p>The Bombora Language and all related software was created by Jaxon Kneipp in 2018. All rights reserved.</p>
        </div>

        <script>
            
            require("./functions.js");
            
        </script>

    </body>

</hmtl>