
#nav_bar_container {

    height: 100%;
    width: 80px;
    background-color: #1E1E1E;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: 0.5s;
    z-index: 10000;

}

#nav_bar_container:hover {
    width: 200px;
}

#nav_bar_container:not(:hover) {
    width: 80px;
}



#nav_bar {

    list-style: none;
    margin: 0;
    padding: 0;
    
    position: absolute;
    left: 20;
    top: 100;

}

#icon_container {

    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;

    background-image: url('images/icon_white.png');
    background-repeat: no-repeat;
    background-size: contain;

}

#icon_container > img {

    width: 100%;
    height: 100%;

}

#nav_bar > li > div > p {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: right;

    height: 50px;
    width: 120px;

    padding-right: 20px;
    line-height: 50px;
    margin: 10px;
    color: white;

}

#nav_bar > li > div {

    border-radius: 5px;

}

#nav_bar > li > div:hover {

    background-color: #797979;
    transition: 0.2s;

}

#nav_bar > li > div:not(:hover) {

    background-color: none;
    transition: 0.2s;

}

#nav_bar > li > div > p:first-child {

    text-align: left;
    position: absolute;
    padding: 14 0 0 10;
    margin: 0;

}

#filename_container {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;

    position: fixed;

    height: 35px;

    padding: 0 10px 0 10px;

    left: 100;
    top: 10;

    z-index: 100;

    border: solid black 2px;
    border-radius: 5px;

}

#filename_container > p {

    line-height: 5px;

}

#content_container {

    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    
}

#content_container > textarea {

    font-family: 'courier', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    width: 100%;

    font-size: 10pt;

    resize: none;
    outline: none;
    position: absolute;
    border: none;

    top: 5%;
    left: 80px;
    bottom: 30%;
    right: 0;

    margin: 0;
    padding: 20px 0 18px 20px;


}

#content_container > p {

    font-family: 'courier', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    width: 100%;
    height: 30%;

    font-size: 10pt;

    resize: none;
    outline: none;

    position: absolute;

    background-color: black;
    color: white;
    left: 80px;
    bottom: 0;

    margin: 0;
    padding: 10px 0 0 10px;


}

.button_container {

    width: 60px;
    height: 60px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: all .2s ease-in-out;

}

.button_container:hover {

    transform: scale(1.1);

}

.button_container > button {

    width: 100%;
    height: 100%;
    border-radius: 100%;
    outline: none;
    border: solid black 4px;
    font-size: 13pt;
    font-weight: bold;

}

#run_container {

    position: fixed;

    top: 20;
    right: 20;

    z-index: 1000000000;

}

#run_container > button {

    background: rgba(0, 0, 0, 0);

}

#record_container {

    position: fixed;

    top: 104;
    right: 20;

    border-radius: 100%;

    z-index: 1000000000;

}

.pulsate {

    animation: pulsate ease-in-out 3s infinite;

}

@keyframes pulsate {

    0% {
        transform: scale(1.0); 
    }

    30% {
        transform: scale(1.3);
        background-color: red;
    }

    100% {
        transform: scale(1.0);
    }

}
  

#record_container > button {

    background: rgba(0, 0, 0, 0);

}

#acknowlegments_container {

    width: 250px;
    font-size: 6pt;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    position: fixed;
    bottom: 20;
    right: 20;

    color: white;

}
